@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300;400;700&family=Montserrat:wght@300;400;600;700;800;900&family=Open+Sans:wght@400;700&display=swap');

/*  font-family: 'Archivo', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif; */
@font-face {
    font-family: 'Awesome_Season_Personal_Use';
    src: url('../fonts/Awesome\ Season\ Personal\ Use.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muli-Regular';
    src: url('../fonts/Muli-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muli-Bold';
    src: url('../fonts/Muli-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muli-SemiBold';
    src: url('../fonts/Muli-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}